@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body {margin:0;}
html {
    background-color: #1d1b31
}
*{
    font-family: 'Poppins', sans-serif;
    color: white
}

.container {
    text-align: center;
}
