@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1d1b31;
  font-family: 'Open Sans', sans-serif;
}

table {

  background: #7b4ea51a;
  border-radius: 0.40em;
  border-collapse: collapse;
  margin: 1em;
  width: 95%;
}
th {
  background-color: #7B4EA5;
  border-bottom: 1px solid #364043;
  color: white;
  font-size: 0.85em;
  font-weight: 600;
  padding: 0.5em 1em;
  text-align: left;
}
td {
  color: white;
  font-weight: 400;
  padding: 0.65em 1em;
}
tbody tr {
  border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
  background-color: #141222;
}

.disabled td {
  background-color: rgba(235, 229, 229, 0.11);
  color: #4F5F64;
}
tbody tr {
  transition: background 0.25s ease;
}
tbody tr:hover {
  background: rgba(17, 16, 16, 0.877);
}

button {
  cursor: pointer;
}

.filter {
  background-color: blue;
  color: white;

}

.resett {
  background-color: red;
  color: white;

}

.filter:hover {
  background-color: rgb(165, 172, 167);
  color: white;
  transition: all 0.2s linear;

}

.notRegister {
  background-color: yellow;
  color: red;
   text-align: center;
   margin: 20%;
   padding: 15px;
   font-weight: bold;
   font-size: 20px;
   border-radius: 15px;
}


.resett:hover {
  background-color: rgb(165, 172, 167);
  color: white;
  transition: all 0.2s linear;

}

tbody .disabled:hover  {
  background: none;
}

form .title{
  display: block;
  margin-bottom: 2px;
  font-size: 16px;
  font-weight: 500;
  margin: 6px 0;
  color: white;
}

.itens {
  display: flex;
  flex-wrap: wrap;
  margin: 0.8%;

}

.btnFilter {
  float: left;
  margin: 0.4%;
  cursor: pointer;

}

.btnFilter2 {
  cursor: pointer;
  padding: 10px;
  border-radius: 0 0 10px 10px;
  text-align: center;

}

.btnFilter button {
  height: 25px;
  margin: 5px 0;
  padding: 0 12px;
  border: 1px solid #aaa;
  border-radius: 5px;
}

.btnFilter2 button {
  height: 25px;
  padding: 0 12px;
  border: 1px solid #aaa;
  border-radius: 5px;
  background: dodgerblue


}
.itens input {
  width: 300px;
}

.itens input, select{
  font-size: 14px;
  font-weight: 400;
  color: #002333;
  background-color: #B4BEC9;
  border-radius: 5px;
  border: 1px solid #aaa;
  padding: 0 15px;
  height: 30px;
  margin: 7px 3px;
}


.busca {
  background-color: #7b4ea51a;
  color: white;
  display: flex;
    flex-direction: row;
  padding: 7px;
  margin: 2%;
  border-radius: 10px;
}

.it {
  margin: 0 20px;
}

.result{
  color: rgb(9, 150, 115);
  font-weight: 650;

}
i{

  font-weight: 650;

}

mark {
  border-radius: 5px;
  padding: 0 1px;
  background: none;
  color: yellow
}

.ponto {
  float: left;
  margin: 0 20px;
}

.cont {
  background-color: #7B4EA5;
  padding: 2px;
  color: white;
  position: sticky;
  border-radius: 10px 10px 0 0;
  margin: 0 40% 0 40%;
}

table tbody tr {
  border-bottom: 1px solid #ddd;
}
table tbody tr:last-of-type {
  border-bottom: 2px solid #7B4EA5;
}
.ngm {
  background-color: #FFFF8A;
  color: black;
  font-weight: bold;
  border: 1px solid #C3E6CB;
  padding: 15px;
  border-radius: 10px;
  margin-top: 20%;
  max-width: 50%;
  width: 100%;
  margin-left:25%;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.dialog[aria-hidden="true"] {
    border-radius: 10px;
}
.dialog-overlay {
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.66);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.dialog-content {
    background-color: rgb(255, 255, 255);
    z-index: 3;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.dialog-content {
    padding: 1em;
    max-height: 80%;
    max-width: 90%;
    width: 800px;
    border-radius: 2px;
    overflow-y: scroll;
}
@media screen and (min-width: 700px) {
    .dialog-content {
        padding: 2em;
    }
}
.dialog-overlay {
    background-color: rgba(43, 46, 56, 0.9);
}
.dialog h1 {
    margin: 0;
    font-size: 1.25em;
}
.dialog-close {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    border: 0;
    padding: 0;
    background-color: transparent;
    font-weight: bold;
    font-size: 1.25em;
    width: 1.2em;
    height: 1.2em;
    text-align: center;
    cursor: pointer;
    transition: 0.15s;
}
@media screen and (min-width: 700px) {
    .dialog-close {
        top: 1em;
        right: 1em;
    }
    .dialog {
        margin: 0 15px;
    }
}
